body {
	padding: 2%;
	font-size: 100%;
	margin: 0 0 100px;
    text-align: center;
}

img {
    width: 100%;
    text-align center;
}

p {
    font-family: sans-serif;
}

footer img{
    width: 40px;
    display: inline-block;
}

#me {
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

header {
    width: 100%;
    text-align: center;
    background-color: light gray;
}

.dropbtn {
    background-color: #1F71FF;
    color: white;
    padding: 20px;
    font-size: 18px;
    border: none;
    vertical-align: right;
    border-radius: 65%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #94BBFF;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
    float: right;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #1F71FF;
    padding: 12px 16px;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1
}

.show {
    display:block;
}

.nav {
	display: none;
}

#gmail {
    width: 4%; 
}



footer {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 800px) {
	.dropbtn {
	    display: none;
	}
    .navbar {
        display: none;
    } 
    .nav {
        display: inline-block;
    }
	.nav-justified{
        color: #1F71FF;
 	}
    .nav-justified > li > a:hover {
      background-color: #94BBFF;
    }
 	.active > a {
        background-color: #1F71FF;
        color:#0088cc;
    }
    
}

@media only screen and (min-width: 1200px) { 
	.dropbtn {
	    display: none;
	}
    .nav {
        display: none;
    }
    .navbar {
        display: inline-block;
    } 

	
}
