{% extends "templates/index.html" %}
{% block content %} 
	<h2>Contact Me!</h2>
	<p>Feel free to reach out to me on any of my social media sites, or directly email me from the following form.</p>
	<div class= "col-sm-12">
		<form action = "contact.html" method = "post">
		<p><label>Name: <input type = "text" name = "name"></label></p>
		<p><label>Phone Number: <input type="tel" name="number"></label></p>
		<p><label>Email: <input type = "email" name = "email"></label></p>
		<input type = "submit" value = "Get In Touch">
	</form>
	</div>
	 
{%endblock%}