{% extends "templates/index.html" %}
{% block content %} 
	<h2>Contact Me!</h2>
	<p>Feel free to reach out to me on any of my social media sites, or directly email me from the following form.</p>
	<form action = "contact.html" method = "post">
		<p><label>Phone Number (optional): <input type="tel" name="number"></label></p>
		<p><label>Subject: <input type = "text" name = "subject"></label></p>
		<p><label>Message: <input type = "email" name = "message"></label></p>
		
		<input type = "submit" value = "Send">
	</form> 
{%endblock%}