{% extends "templates/index.html" %}
{% block javas %}
	
	<script type="text/javascript">
		function displayTime() {
		var date1 = new Date();
		var date2 = new Date('09/03/2016');
		var timeDiff = Math.abs(date2.getTime() - date1.getTime());
		var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
		document.getElementById('days').innerHTML = diffDays;		
		}
	</script>

{% endblock %}
{% block content %} 
	<div class="col-sm-12 col-md-6">
		<h2>Courses</h2>
		<ul>
			<li>SI 206: Agile Web Development</li>
				<ul>
					<li>Learned sweet web development skills.</li>
				</ul>
			<li>EECS 280: Programming and Introductory Data Structures</li>
				<ul>
					<li>Learned how to write classes in C++ and other topics.</li>
				</ul>
			<li>EECS 281: Data Structures and Algorithms</li>
				<ul>
					<li>Learned how to write efficient algorithms.</li>
				</ul>
			<li>EECS 370: Introduction to Computer Architecture</li>
				<ul>
					<li>Learned the inner workings of computers.</li>
				</ul>
			<li>EECS 376: Foundations of Computer Science</li>
				<ul>
					<li>Learned about Turing Machines.</li>
				</ul>
			<li>EECS 388: Introduction to Computer Security</li>
				<ul>
					<li>Learned how to hack into wifi, websites, and applications.</li>
				</ul>
			<li>EECS 398: Computing For Computer Scientists</li>
				<ul>
					<li>Learned random, but extremely useful, computer science skills.</li>
				</ul>
			<li>EECS 492: Introduction to Artificial Intelligence</li>
				<ul>
					<li>Learned about search algorithms and AI agents.</li>
				</ul>
		</ul>
	</div>
	<div class="col-sm-12 col-md-6">
		<h2>Extracurriculars</h2>
		<ul>
			<li>Girls in EECS (gEECS)</li>
			<li>Supporting Women in Engineering (SWE)</li>
			<li>Delta Gamma Sorority</li>
		</ul>
	</div>
	<div class="col-sm-12 col-md-6 collegepics" >
		<h3>Some snapshots of me at college:</h3>
		<div class="col-sm-12 col-md-6 col-lg-3">
		    <img src = "static/dg.jpg" alt = "dg" class="img-rounded"/>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
		    <img src = "static/gameday.jpg" alt = "gameday" class="img-rounded"/>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
		    <img src = "static/sarah.jpg" alt = "sarah" class="img-rounded"/>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
		    <img src = "static/winter.jpg" alt = "winter" class="img-rounded"/>
		</div>
  	</div>
  	<div>
  		<div class="timer" onload="getTimeRemaining(endtime);">
  			<h3>Countown to Football Saturdays:</h3>
  				<h4>
  					<span id="days"></span> Days!
  				</h4>  
  		</div>
  	</div>
{%endblock%}