{% extends "templates/index.html" %}
{% block content %} 
		    <h2>All About Me!</h2>
		    <div class="container">
		    		<div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/friends.jpg" alt = "friends" class="img-rounded img-responsive" id="friends"/>
				      	<p>I like to do fun things like go to parties with my friends!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/dance.jpg" alt = "dance" class="img-rounded img-responsive" id="dance"/>
				      	<p>I like to do fun things like dance!</p>
				    </div> 
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/camp.jpg" alt = "camp" class="img-rounded img-responsive" id="camp"/>
				      	<p>I like to do fun things like go to camp!</p>
				    </div> 
				    <div class="col-sm-12 col-md-6 col-lg-3">
				     	<img src = "static/kelly.jpg" alt = "kelly" class="img-rounded img-responsive" id="kelly"/>
				     	<p>I like to do fun things like drink fishbowls with friends!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/beach.jpg" alt = "beach" class="img-rounded img-responsive" id="beach"/>
				      	<p>I like to do fun things like go to concerts on the beach!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/lake.jpg" alt = "lake" class="img-rounded img-responsive" id="lake"/>
				      	<p>I like to do fun things like do lake activities!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/soho.jpg" alt = "soho" class="img-rounded img-responsive" id="soho"/>
				      	<p>I like to do fun things like go to cool brunches!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/brunch.jpg" alt = "brunch" class="img-rounded img-responsive" id="brunch"/>
				      	<p>I like to do fun things like go to lots and lots of brunches!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/six.jpg" alt = "six" class="img-rounded img-responsive" id="six"/>
				      	<p>I like to do fun things like hanging out with my friends!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/hike.jpg" alt = "hike" class="img-rounded img-responsive" id="hike"/>
				      	<p>I like to do fun things like go hiking!</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/onesie.jpg" alt = "onesie" class="img-rounded img-responsive" id="onesie"/>
				      	<p>I like to do fun things like wear a sleeping bag onesie</p>
				    </div>
				    <div class="col-sm-12 col-md-6 col-lg-3">
				      	<img src = "static/mary.jpg" alt = "mary" class="img-rounded img-responsive" id="mary"/>
				      	<p>I like to do fun things like go to the cider mill!</p>
				    </div> 
				    
				    
				    
				    
			</div>
{%endblock%}