<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Katherine Leavitt's Portfolio</title>
	    <link rel="stylesheet" type="text/css" href="static/style.css"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<meta charset = "UTF-8">
		{% block javas %}
		{% endblock %}
		<script>
			    $(function(){
			      $("[href]").each(function(){
			        if(window.location.href.search($(this).attr('href')) != -1){
			          $(this).parent().addClass("active");
			        }
			      })
			      $("[href]").each(function(){
			        if(window.location.href.search($(this).attr('href')) == -1){
			          $(this).parent().removeClass("active");
			        }
			      })
			    });
		    </script>
	</head>

	<body onload = "displayTime();">
	  <header>
	  	<div class="jumbotron">
	  		<div class="col-sm-12 col-md-6">
  				<img src="static/me.jpg" alt="me" class="img-rounded" id="me">
			</div>
	  		<div class="col-sm-12 col-md-6">
	  			<h1>Katherine Leavitt</h1>
	  		</div>
	 		<div class="col-sm-12 col-md-6">
	  			<h4><a href="mailto:ksleavit@umich.edu">
					<img src="static/gmail-icon.png" alt="gmail" id="gmail"/></a>
				ksleavit@umich.edu</h4>
		  	</div>

		  	<nav class="navbar navbar-light bg-faded">
			  <div class="nav navbar-nav">
			    <p><a class="nav-item nav-link active" href="home">Home<span class="sr-only">(current)</span></a>  |  
				    <a href="education">Education</a>  |  
					<a href="work">Work &amp; Projects</a>  |  
					<a href="contact">Contact</a></p>
			  </div>
		</div>
		<div class="noJumbotron">
	  		<div class="col-sm-12 col-md-6">
  				<img src="static/me.jpg" alt="me" class="img-rounded" id="me">
			</div>
	  		<div class="col-sm-12 col-md-6">
	  			<h1>Katherine Leavitt</h1>
	  		</div>
	 		<div class="col-sm-12 col-md-6">
	  			<h4><a href="mailto:ksleavit@umich.edu">
					<img src="static/gmail-icon.png" alt="gmail" id="gmail"/></a>
				ksleavit@umich.edu</h4>
		  	</div>

		  	<nav class="navbar navbar-light bg-faded">
			  <div class="nav navbar-nav">
			    <p><a class="nav-item nav-link active" href="home">Home<span class="sr-only">(current)</span></a>  |  
				    <a href="education">Education</a>  |  
					<a href="work">Work &amp; Projects</a>  |  
					<a href="contact">Contact</a></p>
			  </div>
		</div>
			</nav>
			<div class="dropdown">
				<button onclick="myFunction()" class="dropbtn img-rounded">&#9776; Menu</button>
				  <div id="myDropdown" class="dropdown-content img-rounded">
				    <a href="home">Home</a>
				    <a href="education">Education</a>
					<a href="work">Work &amp; Projects</a>
					<a href="contact">Contact</a>
				</div>
			</div>

			<script type="text/javascript">
				function myFunction() {
				    document.getElementById("myDropdown").classList.toggle("show");
				}
				window.onclick = function(event) {
					if (!event.target.matches('.dropbtn')) {

					    var dropdowns = document.getElementsByClassName("dropdown-content");
					    var i;
					    for (i = 0; i < dropdowns.length; i++) {
						var openDropdown = dropdowns[i];
					       if (openDropdown.classList.contains('show')) {
						        openDropdown.classList.remove('show');
						    }
				    	}
					}	
				}
			</script>
			<ul class="nav nav-pills nav-justified" id="myPills">
			  		<li class="active"><a href="home">Home</a></li>
				    <li><a href="education">Education</a></li>
					<li><a href="work">Work &amp; Projects</a></li>
					<li><a href="contact">Contact</a></li>
			</ul>
			


		</header>
		<div class="pagecontent">
			{% block content %}
				Never gonna see this either
			{% endblock %}
		</div>

	  <footer>
	  	<div>
			<a href="https://twitter.com/katesleavitt">
				<img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png"/>
			</a>
			<a href="https://www.pinterest.com/ktloveitt/">
				<img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest.png"/>
			</a>
			<a href="https://www.facebook.com/ksleavittt?ref=bookmarks">
				<img title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook.png"/>
			</a>
			<a href="https://www.linkedin.com/in/katherine-leavitt-84509b117?trk=nav_responsive_tab_profile_pic">
				<img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png"/>
			</a>
			<a href="https://www.instagram.com/katieleavitt/">
				<img title="Instagram" alt="RSS" src="https://socialmediawidgets.files.wordpress.com/2014/03/10_instagram.png"/>
			</a>
		</div>
		<p>&copy; Katherine Leavitt</p>
	  </footer>
	</body>
</html>
