{% extends "templates/index.html" %}
{% block content %} 
	<h2>Work:</h2>
	<h5>University of Michigan Office of Development (Ann Arbor, MI)</h5>
	<ul>
		<li>Talent Manager at the Michigan Telefund</li>
		<ul>
			<li>Recruit, interview, hire, and train new employees for Telefund</li>
			<li>Train and lead current student callers, supervisors, and managers on professional development skills and importance of philanthropy</li>
			<li>Personally raised over $20,000 for University of Michigan scholarships</li>
			<li>Create and write retreats and trainings for employees</li>
		</ul>
	</ul>
	<h5>L.A. Art Exchange (Los Angeles, CA)</h5>
	<ul>
		<li>Business Intern</li>
		<ul>
			<li>Shadowed small business owner and worked to improve business strategies</li>
			<li>Revamped and developed guidelines for office, accounting, and marketing procedures</li>
			<li>Collaborated with employees to implement new, efficient work procedures</li>
		</ul>
	</ul>

	<h2>Projects:</h2>
	<p>
		This current semester I was a participant in Mhacks Hackathon. Through this I gained experience building websites that use unique JavaScript libraries with abilities like headtracking and object movement. At this hackathon, I also attended talks about building iOS and Android applications. As a result of this experience I have started developing an iOS application and continue to expand my knowledge. 
	</p>

	<p>
		Working with a team programming a Pololu m3pi Robot using C was a great opportunity for a hands-on experience with coding. We programmed sensors on the robot to follow a drawn out path, turn when it needed to, and stop when it reached the end of the path. We were also able to set up Bluetooth communication between the robot and a computer to allow the robot to display instructions and messages. I loved this experience because it was really the first time I was able to see my code really come to life.
	</p>
	<p>
		Through an engineering class, I worked on generating and designing a musical transcriber and synthesizer in MATLAB. I learned data processing techniques, such as analyzing a Fourier transform and a spectrogram for a given sequence of notes to produce a corresponding tone. From this project I also gained experience creating GUIs in MATLAB. 
	</p>


{%endblock%}